<ngb-carousel>
  <ng-template ngbSlide>
    <div class="item">
      <div class="row">
        <div class="col-sm-6">
          <h1><span>E</span>-SHOPPER</h1>
          <h2>Free E-Commerce Template</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <button type="button" class="btn btn-default get">Get it now</button>
        </div>
        <div class="col-sm-6">
          <img src="../../../../assets/home/carousel/image1.jpg" class="girl img-responsive" alt="">
          <img src="../../../../assets/home/carousel/pricing.png" class="pricing" alt="">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="item">
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../../assets/home/carousel/image2.jpg" class="girl img-responsive" alt="">
          <img src="../../../../assets/home/carousel/pricing.png" class="pricing" alt="">
        </div>
        <div class="col-sm-6">
          <h1><span>E</span>-SHOPPER</h1>
          <h2>Free E-Commerce Template</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <button type="button" class="btn btn-default get">Get it now</button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="item">
      <div class="row">
        <div class="col-sm-6">
          <h1><span>E</span>-SHOPPER</h1>
          <h2>Free E-Commerce Template</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <button type="button" class="btn btn-default get">Get it now</button>
        </div>
        <div class="col-sm-6">
          <img src="../../../../assets/home/carousel/image3.jpg" class="girl img-responsive" alt="">
          <img src="../../../../assets/home/carousel/pricing.png" class="pricing" alt="">
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>