.item h1 {
  color: #B4B1AB;
  font-family: abel;
  font-size: 48px;
  margin-top: 115px;
}
.item h1 span {
  color: #FE980F;
}
.item h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 10px;
}
.item p {
  color: #363432;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
.girl {
  margin-left: 0;
}
.pricing {
  position: absolute;
  right: 40%;
  top: 52%;
}
.carousel{
  width: 95%;
  margin: auto;
}
.get {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 23px;
}