<div class="card text-center border-success">
  <div class="card-header border-success">
    Notification
  </div>
  <div class="card-body text-success">
    <h5 class="card-title">Order Success</h5>
    <p class="card-text">You have successfully placed an order, please wait for confirmation from the shop, thank you for trusting and supporting us</p>
    <a routerLink="/" class="btn btn-primary">Back Home</a>
  </div>
  <div class="card-footer text-muted border-success">
    {{day$}}
  </div>
</div>